<html lang="en">
<body>

<div id="ytPlayer" th:fragment="ytPlayer">
<!--    <h1 class="display-6 text-muted">& More</h1>-->
    <div class="carousel slide shadow-lg" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="ratio ratio-16x9">
            <iframe loading="lazy" class="embed-responsive-item" th:src="@{'https://www.youtube.com/embed/' + ${video.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
</div>

</body>
</html>